ion-card {
    height: 100%;
}

.add{
    background: #3880ff;
    color: #ffffff;
}

.error-message {
    color: #f04141;
    margin-left: 15px;
}

.create-tenant{
    width: 50%;
    margin: 0 auto;
}
