<ion-header translucent>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title>
            <img class="toolbar-logo" src="assets/chameleon-logo.png" />
          </ion-title>
        </ion-col>
        <ion-col>
          <div class="ion-text-center ion-padding">
            <h2 class="ion-no-margin"><i>{{ tenantName }}</i> tenant</h2>
          </div>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button size="small" (click)="navigateToTenants()" class="ion-margin">
    <ion-icon name="chevron-back-outline"></ion-icon>&nbsp;Back
  </ion-button>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="white" [className]="tenantId == 0 ? 'create-tenant' : ''">
          <ion-card-header>
            <ion-card-title> {{tenantId > 0 ? 'Edit Tenant' : 'Create Tenant'}}</ion-card-title>
          </ion-card-header>
          <form [formGroup]="tenantForm">
            <ion-card-content>
              <input type="text" class="form-control" formControlName="tenantId" hidden>
              <ion-list lines="full" class="ion-no-margin">
                <!-- <ion-list-header>
                  <ion-label class="ion-text-uppercase">
                    Create Tenant
                  </ion-label>                  
                </ion-list-header> -->
                <ion-item>
                  <ion-label position="stacked">Display Name</ion-label>
                  <ion-input clearInput formControlName="displayName" type="text" placeholder="Display Name">
                  </ion-input>
                </ion-item>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.displayName">
                    <div class="error-message"
                      *ngIf="tenantForm.get('displayName').hasError(validation.type) && (tenantForm.get('displayName').dirty || tenantForm.get('displayName').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
                <ion-item>
                  <ion-label position="stacked">Short Name</ion-label>
                  <ion-input clearInput formControlName="name" type="text" placeholder="Short Name"></ion-input>
                </ion-item>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.name">
                    <div class="error-message"
                      *ngIf="tenantForm.get('name').hasError(validation.type) && (tenantForm.get('name').dirty || tenantForm.get('name').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
                <ion-row>
                  <ion-col class="ion-margin-vertical">
                    <!-- <ion-label position="stacked">Primary Logo</ion-label> -->
                    <ngx-dropzone (change)="onSelect($event)" [expandable]="true" [accept]="'image/*'" [multiple]='false'>
                      <ngx-dropzone-label>Drop Logo here<br>(suggested: 500px by 500px - PNG or JPG)</ngx-dropzone-label>
                      <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                      </ngx-dropzone-image-preview>
                    </ngx-dropzone>
                  </ion-col>
                </ion-row>
                <ion-item>
                  <ion-label position="stacked">TinEye Username</ion-label>
                  <ion-input clearInput formControlName="tinEyeAccountUserName" type="text"
                    placeholder="TinEye Username">
                  </ion-input>
                </ion-item>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.tinEyeAccountUserName">
                    <div class="error-message"
                      *ngIf="tenantForm.get('tinEyeAccountUserName').hasError(validation.type) && (tenantForm.get('tinEyeAccountUserName').dirty || tenantForm.get('tinEyeAccountUserName').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
                <ion-item>
                  <ion-label position="stacked">TinEye Password</ion-label>
                  <ion-input clearInput formControlName="tinEyeAccountPassword" type="Password"
                    placeholder="TinEye Password">
                  </ion-input>
                </ion-item>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.tinEyeAccountPassword">
                    <div class="error-message"
                      *ngIf="tenantForm.get('tinEyeAccountPassword').hasError(validation.type) && (tenantForm.get('tinEyeAccountPassword').dirty || tenantForm.get('tinEyeAccountPassword').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
                <ion-item>
                  <ion-label position="stacked">Successful Match Text</ion-label>
                  <ion-input clearInput formControlName="successfulMatchText" type="text"
                    placeholder="Successful Match Text">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Failed Match Text</ion-label>
                  <ion-input clearInput formControlName="failedMatchText" type="text" placeholder="Failed Match Text">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">WebsiteUrl</ion-label>
                  <ion-input clearInput formControlName="websiteUrl" type="text" placeholder="WebsiteUrl">
                  </ion-input>
                </ion-item>
                <ion-row>
                  <ion-col class="ion-margin-vertical">
                    <!-- <ion-label position="stacked">Certificate File</ion-label> -->
                    <ngx-dropzone (change)="onSelectCertificateFile($event)" [expandable]="true" [accept]="'image/*'" [multiple]='false'>
                      <ngx-dropzone-label>Drop Certificate here<br>(suggested: 400px by 800px - PNG or JPG)</ngx-dropzone-label>
                      <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of certificateFiles" [file]="f" [removable]="true" (removed)="onRemoveCertificateFile(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                      </ngx-dropzone-image-preview>
                    </ngx-dropzone>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="ion-margin-vertical">
                    <!-- <ion-label position="stacked">Certificate File</ion-label> -->
                    <ngx-dropzone (change)="onSelectPromotionalVideoFile($event)" [expandable]="true" [accept]="'video/*'" [multiple]='false'>
                      <ngx-dropzone-label>Drop Promotional Video here</ngx-dropzone-label>
                      <ngx-dropzone-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of promotionalVideoFiles" [file]="f" [removable]="true" (removed)="onRemovePromotionalVideoFile(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                      </ngx-dropzone-preview>
                    </ngx-dropzone>
                  </ion-col>
                </ion-row>
              </ion-list>
              <div class="mt-3">
                <ion-button expand="block" shape="round" [disabled]="!tenantForm.valid" (click)="onTenantFormSubmit();">
                  {{tenantId > 0 ? 'Update' : 'Save'}}</ion-button>
              </div>
            </ion-card-content>
          </form>
        </ion-card>
      </ion-col>
      <ion-col *ngIf="tenantId > 0 && !addTenantUser">
        <ion-card>
          <ion-card-header>
            <ion-row>
              <ion-col size="6">
                <ion-card-title>Tenant Adminstrators</ion-card-title>
              </ion-col>
              <ion-col size="6">
                <ion-button size="small" (click)="refreshForm();addTenantUser=!addTenantUser" class="ion-float-right">
                  <ion-icon name="add-outline"></ion-icon>&nbsp;Add
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <!-- <ion-toolbar>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-searchbar [(ngModel)]="searchQuery"></ion-searchbar>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-toolbar> -->
          <ion-card-content>
            <ion-list *ngFor="let tenantAdminstrator of tenantAdminstrators">
              <ion-item>
                <ion-label>
                  <h3>{{ tenantAdminstrator.emailAddress }}</h3>
                  <p>{{ tenantAdminstrator.tenantName }}</p>
                </ion-label>
                <ion-button color="primary" (click)="editTenantUser(tenantAdminstrator.tenantUserId)">
                  <ion-icon name="pencil-outline"></ion-icon>
                </ion-button>
                <ion-button color="danger" (click)="deleteTenantUser(tenantAdminstrator.tenantUserId)">
                  <ion-icon name="close-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
            <ion-list *ngIf="tenantAdminstrators.length == 0">
              <ion-item>
                <ion-label>
                  <h4>No items available</h4>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="tenantId > 0 && addTenantUser">
        <ion-card>
          <ion-card-header>
            <ion-card-title> {{tenantUserId > 0 ? 'Edit Tenant User' : 'Create Tenant User'}}</ion-card-title>
            <ion-button size="small" (click)="addTenantUser =!addTenantUser" class="ion-margin">
              <ion-icon name="chevron-back-outline"></ion-icon>&nbsp;Back
            </ion-button>
          </ion-card-header>
          <form [formGroup]="tenantUserForm">
            <ion-card-content>
              <input type="text" class="form-control" formControlName="tenantUserId" hidden>
              <ion-list lines="full" class="ion-no-margin">
                <!-- <ion-list-header>
                  <ion-label class="ion-text-uppercase">
                    Create Tenant
                  </ion-label>                  
                </ion-list-header> -->
                <ion-item>
                  <ion-label position="stacked">Email Address</ion-label>
                  <ion-input clearInput formControlName="emailAddress" type="text" placeholder="Email Address">
                  </ion-input>
                </ion-item>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.emailAddress">
                    <div class="error-message"
                      *ngIf="tenantUserForm.get('emailAddress').hasError(validation.type) && (tenantUserForm.get('emailAddress').dirty || tenantUserForm.get('emailAddress').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
                <ion-item>
                  <ion-label position="stacked">Role</ion-label>
                  <ion-select clearInput formControlName="roleType" placeholder="--Select--">
                    <!-- <ion-select-option value="">--Select--</ion-select-option> -->
                    <ion-select-option value="0">Basic</ion-select-option>
                    <ion-select-option value="1">Admin</ion-select-option>
                    <ion-select-option value="2">SuperAdmin</ion-select-option>
                  </ion-select>
                </ion-item>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.roleType">
                    <div class="error-message"
                      *ngIf="tenantUserForm.get('roleType').hasError(validation.type) && (tenantUserForm.get('roleType').dirty || tenantUserForm.get('roleType').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-list>
              <div class="mt-3">
                <ion-button expand="block" shape="round" [disabled]="!tenantUserForm.valid" (click)="onTenantUserFormSubmit();">
                  {{tenantUserId > 0  ? 'Update' : 'Save'}}</ion-button>
              </div>
            </ion-card-content>
          </form>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>