<ion-header translucent>
  <ion-toolbar>
    <ion-title class="ion-text-center"
      ><img class="toolbar-logo" src="assets/chameleon-logo.png"
    /></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid>
    <ion-row style="height: 70vh" class="ion-align-items-center">
      <ion-col></ion-col>
      <ion-col size="12" size-md="6" size-lg="4" size-xl="3">
        <h3 class="ion-text-center">
          Welcome to Chameleon
        </h3>
        <p class="ion-text-center">
          Use the provided Link or QR code to sign in.
        </p>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
