<ion-card>
  <ion-card-header>
    <ion-card-title>{{tenantUserId > 0 ? 'Edit Tenant User' : 'Create Tenant User'}}</ion-card-title>
  </ion-card-header>
  <form [formGroup]="tenantUserForm">
    <ion-card-content>
      <input type="text" class="form-control" formControlName="tenantUserId" hidden>
      <ion-list lines="full" class="ion-no-margin">
        <ion-item>
          <ion-label position="stacked">Email Address</ion-label>
          <ion-input clearInput formControlName="emailAddress" type="text" placeholder="Email Address">
          </ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.emailAddress">
            <div class="error-message"
              *ngIf="tenantUserForm.get('emailAddress').hasError(validation.type) && (tenantUserForm.get('emailAddress').dirty || tenantUserForm.get('emailAddress').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <ion-item>
          <ion-label position="stacked">Role</ion-label>
          <ion-select clearInput formControlName="roleType" placeholder="--Select--">
            <ion-select-option value="0">Basic</ion-select-option>
            <ion-select-option value="1">Admin</ion-select-option>
            <ion-select-option value="2">SuperAdmin</ion-select-option>
          </ion-select>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.roleType">
            <div class="error-message"
              *ngIf="tenantUserForm.get('roleType').hasError(validation.type) && (tenantUserForm.get('roleType').dirty || tenantUserForm.get('roleType').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-list>
      <div class="mt-3">
        <ion-button expand="block" shape="round" [disabled]="!tenantUserForm.valid" (click)="onTenantUserFormSubmit();">
          {{tenantUserId > 0  ? 'Update' : 'Save'}}</ion-button>
      </div>
    </ion-card-content>
  </form>
</ion-card>