<ion-content class="no-scroll">
  <ion-card-content class="ion-text-center ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <img class="app-logo" src="assets/chameleon-logo.png" />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-label>
            <p class="brand-text">
              Chameleon is an Australian company with 12 global 
              patents over it's Authentication Technology - learn more.
            </p>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button color="secondary" shape="round" href="https://chameleoninnovations.com.au/" target="_blank">
            <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
            VISIT CHAMELEON WEBSITE
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-content>