// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #003BAD;
  --ion-color-primary-rgb: 0,59,173;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #003498;
  --ion-color-primary-tint: #1a4fb5;

  /** secondary **/
  --ion-color-secondary: #0CE4E9;
  --ion-color-secondary-rgb: 12,228,233;
  --ion-color-secondary-contrast: #003BAD;
  --ion-color-secondary-contrast-rgb: 0,59,173;
  --ion-color-secondary-shade: #0bc9cd;
  --ion-color-secondary-tint: #24e7eb;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #71b24f;
  --ion-color-success-rgb: 113,178,79;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #639d46;
  --ion-color-success-tint: #7fba61;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #c12226;
  --ion-color-danger-rgb: 193,34,38;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #aa1e21;
  --ion-color-danger-tint: #c7383c;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #e6ebee;
  --ion-color-medium-rgb: 230,235,238;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #cacfd1;
  --ion-color-medium-tint: #e9edf0;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** font family **/
  // --ion-font-family: 'Open Sans', sans-serif;
  --ion-font-family: 'Foco', sans-serif;

  // --ion-light-opensans: 300;
  // --ion-regular-opensans: 400;
  // --ion-semibold-opensans: 600;
  --ion-regular-foco: 400;
  --ion-bold-foco: 700;

  --ion-text-color: #003BAD;
}



/** Chameleon Custom **/
