ion-content {
  --background: none;
}

.toolbar-logo-capture {
  width: 200px;
  padding: 0.4em;
  margin: 0 auto;
  display: block;
}

ion-fab-button::part(native) { 
  width: 50px;
  height: 50px;
  bottom: 60px;
}

.absolute-full-width {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tenant-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: 60%;
  z-index: -1;
}

.tenant-background::before {
  content: ' ';
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba($color: #fff, $alpha: 0.8);
}

#displayContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#video {
  z-index: -1;
}

#qrOverlay {
  height: 100%;
  width: 100vw;
  flex-direction: column;
  display: flex;

  .qr-overlay-panel {
    flex: 3 0 0;

    &.position-relative {
      position: relative;
    }
  }

  .qr-overlay-panel-center {
    display: flex;
    flex: 1 0 0;
  }

  .qr-overlay-panel-narrow {
    flex: 1 0 0;
  }

  .qr-overlay-panel-viewport {
    flex: 0 0 80vw;
    height: 40vw;
    position: relative;
    outline: 1px solid white;
    outline-offset: -1px;

    &::before, &::after {
      background-size: 100%;
      display: block;
      position: absolute;
      z-index: 99999999;
      left: -6px;
      top: -6px;
      right: -6px;
      bottom: -6px;
      background-repeat: no-repeat;
    }

    &::before {
      content: "";
      background-image: url(/assets/capture-frame-top@2x.png);
      background-position: top;
    }

    &::after {
      content: "";
      background-image: url(/assets/capture-frame-bottom@2x.png);
      background-position: bottom;
    }
  }

  // &.rectangular-qr-frame .qr-overlay-panel-viewport {
  
  // }

  .qr-overlay-panel-blue {
    background-color: rgba(0, 59, 173, 0.7);
  }

  .instruction-overlay {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;

    .title{
      font-size: 18px;
      color: white;
      z-index: 999992;
    }
  }
}