<ion-header translucent>
  <ion-toolbar>
    <img class="toolbar-logo-capture" src="assets/chameleon-logo.png" />
    <!-- <ion-buttons slot="end">
      <ion-button color="dark" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="displayContainer" class="absolute-full-width">
    <!-- <div class="tenant-background" *ngIf="!cameraInitialised" [style.backgroundImage]="'url(' + tenantLogoUrl + ')'"></div> -->
    <video id="video" [hidden]="!isScanning" autoplay playsinline muted #videostream></video>
    <canvas id="fullcanvas" hidden #fullcanvas></canvas>
    <div id="qrOverlay" class="absolute-full-width" *ngIf="isScanning">
      <!-- <div id="qrFrame"></div> -->
      <div class="qr-overlay-panel qr-overlay-panel-blue position-relative">
        <div class="instruction-overlay ion-text-center">
          <h1 class="title">Align Frame Over SplatCode&trade;</h1>
        </div>
      </div>
      <div class="qr-overlay-panel qr-overlay-panel-center">
        <div class="qr-overlay-panel-narrow qr-overlay-panel-blue"></div>
        <div class="qr-overlay-panel-viewport"></div>
        <div class="qr-overlay-panel-narrow qr-overlay-panel-blue"></div>
      </div>
      <div class="qr-overlay-panel qr-overlay-panel-blue"></div>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="center">
    <ion-fab-button [color]="isScanning ? 'light' : 'primary'" (click)="isScanning = !isScanning">
      <ion-icon [name]="isScanning ? 'close-outline' : 'camera'"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>