<ion-card>
  <ion-card-header>
    <ion-card-title>Image Detail</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div *ngIf="image?.imageId > 0">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h4 class="ion-padding-bottom">Name: {{ image.name }}</h4>
            <!-- <h4 class="ion-padding-bottom">Size: {{ image.size }}</h4> -->
            <h4 class="ion-padding-bottom">Date: {{ image.createdAt | date: 'dd/MM/yyyy' }}</h4>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-img [src]="image.imageFilePath"></ion-img>
    </div>
  </ion-card-content>
</ion-card>
