<ion-header translucent>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title>
            <img class="toolbar-logo" src="assets/chameleon-logo.png" />
          </ion-title>
        </ion-col>
        <ion-col>
          <div class="ion-text-center ion-padding">
            <h2 class="ion-no-margin"><i>{{ tenantName }}</i> tenant</h2>
          </div>
        </ion-col>
        <ion-col>
          <ion-buttons class="ion-float-right ion-no-margin ion-padding">
            <ion-button color="primary" (click)="navigateToCollections()">
              Collections
            </ion-button>
            <ion-button color="dark" (click)="logout()">
              <ion-icon name="log-out-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="tenants">
    <ion-card-header>
      <ion-card-title>Tenants</ion-card-title>
    </ion-card-header>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-searchbar [(ngModel)]="searchQuery"></ion-searchbar>
          </ion-col>
          <ion-col>
            <ion-button color="primary" [routerLink]="['0']" class="ion-float-right">
              <ion-icon name="add-outline"></ion-icon> Add
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
    <ion-card-content>
      <ion-list *ngFor="let tenant of tenants | search: searchQuery">
        <ion-item>
          <ion-label>
            <h3>{{ tenant.displayName }}</h3>
            <p>{{ tenant.name }}</p>
          </ion-label>
          <ion-button color="primary" [routerLink]="[tenant.tenantId]">
            <ion-icon name="pencil-outline"></ion-icon>
          </ion-button>
          <ion-button color="secondary" [copy-clipboard]="getTenantManageLink(tenant.name)" (copied)="onLinkCopied($event)">
            <ion-icon name="copy-outline"></ion-icon>
          </ion-button>
          <!-- <ion-button color="secondary" (click)="manageTenant(tenant.name)">
            <ion-icon name="arrow-redo-circle-outline"></ion-icon>
          </ion-button> -->
          <ion-button color="danger" (click)="deleteTenant(tenant.tenantId)">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="tenants.length == 0">
        <ion-item>
          <ion-label>
            <h4>No items available</h4>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>