<ion-card>
  <ion-card-header>
    <ion-card-title>Collections</ion-card-title>
  </ion-card-header>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchQuery"></ion-searchbar>
  </ion-toolbar>
  <ion-card-content>    
    <ion-list *ngFor="let collection of collections | search: searchQuery">
      <ion-item>
        <ion-label (click)="getImages(collection.collectionId)">
          <h3>{{ collection.name }}</h3>
          <p>{{ collection.createdAt | date: 'dd/MM/yyyy' }} / {{ collection.quantity }} Images</p>
        </ion-label>
        <ion-button color="secondary" [href]="collection.downloadUrl" target="_blank">
          <ion-icon name="cloud-download-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="deleteCollection(collection.collectionId)"
          ><ion-icon name="close-outline"></ion-icon
        ></ion-button>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="collections?.length == 0">
      <ion-item>
        <ion-label>
          <h4>No items available</h4>
        </ion-label>
      </ion-item>
    </ion-list>   
  </ion-card-content>
</ion-card>
