<ion-header translucent>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title>
            <img class="toolbar-logo" src="assets/chameleon-logo.png" />
          </ion-title>
        </ion-col>
        <ion-col>
          <div class="ion-text-center ion-padding">
            <h2 class="ion-no-margin"><i>{{ tenantName }}</i> tenant</h2>
          </div>
        </ion-col>
        <ion-col>
          <ion-buttons class="ion-float-right ion-no-margin ion-padding">
            <ion-button color="primary" *ngIf="canManageTenants" [routerLink]="['tenants']">
              Tenants
            </ion-button>
            <ion-button color="dark" (click)="logout()">
              <ion-icon name="log-out-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-upload></app-upload>
      </ion-col>
      <ion-col>
        <app-collections></app-collections>
      </ion-col>
      <ion-col>
        <app-images></app-images>
      </ion-col>
      <ion-col>
        <app-preview></app-preview>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
