/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
// @import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
// @import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@font-face {
  font-family: 'Foco';
  font-style: normal;
  font-weight: normal;
  src: local('Foco'), url('/assets/fonts/FOCO.woff') format('woff');
}

@font-face {
  font-family: 'Foco Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Foco Bold'), url('/assets/fonts/FOCOBOLD.woff') format('woff');
}

.toolbar-logo {
  width: 200px;
  padding: 0.6em;
}

.heading-1{
  font-weight:  var(--ion-bold-foco) !important;
  font-size: 1.6em !important;
  color: var(--ion-text-color);
}

.heading-2-light {
  font-weight:  var(--ion-bold-foco) !important;
  font-size: 1.2em !important;
  color: var(--ion-color-light);
}

.body-text-bold{
  font-weight:  var(--ion-bold-foco) !important;
  font-size: 1.4em !important;
  color: var(--ion-text-color);
}

.body-text{
  font-weight:  var(--ion-regular-foco) !important;
  font-size: 1.2em !important;
  color: var(--ion-color-primary);
}

.body-text-black{
  font-weight:  var(--ion-regular-foco) !important;
  font-size: 1.2em !important;
  color: #000;
}

.icon-text{
  font-weight: var(--ion-regular-opensans) !important;
  font-size: 0.8em !important;
  text-transform: uppercase;
  color: var(--ion-color-primary);
}

.popover-custom-class .popover-content {
  --width: 80%
}

.no-scroll {
  --overflow: hidden;
}

.modal-custom-class {
  --backdrop-opacity: 0;
  --background: transparent;
}

.loading-custom-class {
  --height: 110px;
  --spinner-color: var(--ion-text-color);
}

.loading-custom-class .loading-wrapper {
  flex-direction: column;
  justify-content: space-between;
}

.loading-custom-class .loading-wrapper .loading-spinner {
  transform: scale(1.6);
}

.loading-custom-class .loading-wrapper .loading-content {
  color: var(--ion-text-color);
  font-size: 1.1em;
}

.margin-top-0 {
  margin-top: 0
}