<ion-card>
  <ion-card-header>
    <ion-card-title>Images</ion-card-title>
  </ion-card-header>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchQuery"></ion-searchbar>
  </ion-toolbar>
  <ion-card-content>    
    <ion-list *ngFor="let image of images | search: searchQuery">
      <ion-item>
        <ion-label (click)="getImage(image.imageId)">
          <h3>{{ image.name }}</h3>
          <p>{{ image.createdAt | date: 'dd/MM/yyyy' }} </p>
          <!-- <p>{{ image.createdAt | date: 'dd/MM/yyyy' }} / {{ image.size }}</p> -->
        </ion-label>
        <ion-button color="danger" (click)="deleteImage(image.imageId)">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll *ngIf="images.length > 0" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ion-list *ngIf="images.length == 0">
      <ion-item>
        <ion-label>
          <h4>No items available</h4>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>