<ion-content>
  <div class="video-container">
    <video width="100%" autoplay controls>
      <source [src]="promotionalVideoFileUrl" type="video/mp4">
    </video>
  </div>
  <ion-fab vertical="bottom" horizontal="center">
    <ion-fab-button color="light" (click)="onClose()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>