ion-fab-button::part(native) { 
  width: 50px;
  height: 50px;
  bottom: 60px;
}

ion-content {
  --background: rgb(50,120,255);
  --background: linear-gradient(180deg, rgba(50,120,255,0.85) 0%, rgba(0,33,111,0.85) 100%);
}

.video-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 2%;
  border: 10px solid white;
  border-radius: 3%;
  background-color: white;
  display: flex;
}