<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-padding-start">
        <h2 class="heading-2-light">More Information</h2>
      </ion-col>
      <ion-col>
        <ion-fab-button color="medium" size="small" class="ion-float-right" (click)="onClose()">
          <ion-icon name="close-outline"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="margin-top-0">
          <ion-card-content *ngIf="showDefaultView">
            <ion-slides [options]="sliderOpt" zoom>
              <ion-slide>
                <div class="swiper-zoom-container">
                  <img class="certificate-img" [src]="certificateUrl" />
                </div>
              </ion-slide>
            </ion-slides>
            <div class="ion-padding" *ngIf="!!hasWebsiteUrl">
              <ion-label>
                <h4 class="body-text-bold">To learn more visit </h4> 
                <a [href]="websiteUrl" class="body-text" target="_blank">{{websiteUrl}}</a>
              </ion-label>
            </div>
          </ion-card-content>
          <ion-card-content class="product-overview" *ngIf="showVBreatheView">
            <h1>VBreathe Tasman</h1>
            <h2 class="with-border">
              All-Natural Air Detoxifier
            </h2>
            <p>
              VBreathe Tasman uses a unique, patented and active approach to purify and detoxify the surrounding indoor air in an all-natural way. It expels microscopic all-natural VActive Gel vapours into the surrounding air to hunt down and remove harmful toxins and pathogens in the air and on surfaces. 
            </p>
            <p>
              Other detoxifiers use technologies like ozone and hydroperoxide, which are not safe to be used when humans are in the room on a daily basis.
            </p>
            <hr />
            <h2>
              Air Purifier
            </h2>
            <p>
              VBreathe Tasman uses HEPA-filtration to purify the air that passes through the device, as do many other purifiers. However, relying on HEPA-filtration alone is not enough, as no matter how big or powerful an air purifier is, these passive devices cannot purify the air faster than the harmful pathogens can grow indoors, because the air must pass through the device.
            </p>
            <hr />
            <h2>
              VActive Gel vapours
            </h2>
            <p>
              The microscopic, all-natural VActive Gel vapours – made from a specially formulated blend of Australian essential oils – are expelled and suspended into the surrounding air to significantly reduce airborne pathogens. The technology works by vapourising the VActive Gel into the indoor air, creating micro essential oils vapours that float. These vapours remain suspended in the air for long periods, gently distributed and continuously circulated by the fan in the device.
            </p>
            <p>
              As the micro vapours float through the air, they latch onto air particles. It is these harmful air particles that carry mould, bacteria, droplets and viruses.
            </p>
            <p>
              The suspended micro-vapours surround and encapsulate these harmful, floating air particles and starve them of oxygen so that they cannot reproduce. This natural, suspended micro-vapour technology is revolutionary because it offers protection that is always present in the air – and no other technology can offer this.
            </p>
            <hr />
            <h2>
              How it works on surfaces
            </h2>
            <p>
              Normally, the harmful bacteria, pathogens and contaminated airborne droplets are continually spreading through the indoor air and landing on surfaces. With VBreathe Tasman, these floating dangers are immediately surrounded and encapsulated in mid-air, contained and stopped from reproducing. When these encapsulated pathogen particles land on a surface, they can no longer contaminate it.
            </p>
            <hr />
            <h2>
              How the smart sensors work
            </h2>
            <p>
              There are smart sensors built into the Tasman which detect smoke, mould, carbon monoxide and harmful PM2.5 particles. Air quality is indicated by a coloured light ring on the device and in our Air Chain Control mobile app.
            </p>
            <img src="/assets/samples/vbreathe.png">
          </ion-card-content>
          <ion-card-content class="product-overview" *ngIf="showPenfoldsView">
            <h1>The Penfolds Collection</h1>
            <h2 class="with-border">
              Grange 2016 Gift Box
            </h2>
            <p>
              The original and most powerful expression of Penfolds multi-vineyard, multi-district blending philosophy, Grange is arguably Australia’s most celebrated wine and is officially listed as a Heritage Icon of South Australia. Crafted utilising fully-ripe, intensely-flavoured and structured shiraz grapes, the result is a unique Australian style that is now recognised as one of the most consistent of the world’s great wines. With an unbroken line of vintages from the experimental 1951, Grange clearly demonstrates the synergy between shiraz and the soils and climates of South Australia.
            </p>
            <hr />
            <h2>
              Taste Description
            </h2>
            <h3>
              Nose
            </h3>
            <p>
              A fusion of preserved figs, black plum, blackberry and black liquorice flirts with an aromatic elution of fish oil, anchovy, soy and sesame/nori.
            </p>
            <p>
              Nascent scents of toasted charred meats (rotisserie rib of beef?), rendered fat/marrow.
            </p>
            <p>
              An uplifting freshness and higher notes are liberated with air – awakened scents akin to cola, Chinotto, aniseed, root beer.
            </p>
            <p>
              Camouflaged (new!) oak has to be proactively sought out, verified.
            </p>
            <p>
              Strikes a Grange stylistic bullseye, all boxes ticked.
            </p>
            <h3>
              Flavours And Palate
            </h3>
            <p>
              A retronasal transfer of the aromatics listed above converge to similarly adorn the palate.
            </p>
            <p>
              Full-bodied – turbo-propelled by a V.A./formic mix, affording attaque and grip, yet respectful of balance and style.
            </p>
            <p>
              Custom-fitted with impressive density and length – all dark and black, harmonious.
            </p>
            <p>
              Oak conceded – absorbed, compliant – effortlessly merging with blue and black fruits and dark chocolate/mocha notes.
            </p>
            <p>
              Solid, malleable tannins, with an exacting acid coupling, serve to polish and elevate; no doubt soon to preserve.
            </p>
            <p>
              Energetic, focussed. Much still to reveal.
            </p>
            <hr />
            <h2>
              South Australia
            </h2>
            <p>
              Home to the oldest vines in the country, and no less than 18 wine growing regions, South Australia accounts for almost 50% of Australia’s wine production. The Barossa Valley, McLaren Vale, Langhorne Creek and Coonawarra are well known for their world class reds, with Adelaide Hills, Clare Valley and Eden Valley praised for their exceptional Chardonnay and Riesling.
            </p>
            <img src="/assets/samples/australia.png">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>