ion-content {
  --background: rgb(0,41,140);
  --background: linear-gradient(180deg, rgba(0,41,140,1) 0%, rgba(0,14,38,1) 100%);
}

.certificate-img {
  width: 90%;
  margin: 0 auto;
  display: block;
  margin-top: 16px;
}

.product-overview {

  h1 {
    color: var(--ion-color-primary);
    font-weight: bold;
    margin-bottom: 14px;
  }

  h2 {
    color: var(--ion-color-primary);
    font-weight: bold;
    margin-bottom: 12px;

    &.with-border {
      text-transform: uppercase;
      border: 1px solid var(--ion-color-secondary);
      border-radius: 6px;
      display: inline-block;
      padding: 0px 6px;
    }
  }

  h3 {
    color: var(--ion-color-primary);
    font-weight: bold;
    margin: 10px 0;
    text-transform: uppercase;

  }

  hr {
    border: 1px solid whitesmoke;
    margin: 10px 0
  }

  img {
    max-width: 100%
  }

}