<ion-card>
  <ion-card-header>
    <ion-card-title>Upload</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h4 class="ion-padding-bottom">
            Drag a ZIP folder containing your images onto the dropzone below,
            then click Upload button.
          </h4>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ngx-dropzone (change)="onSelectCollectionFile($event)" [expandable]="true" [accept]="'.zip'" [multiple]='false'>
            <ngx-dropzone-label>Drop File here</ngx-dropzone-label>
            <ngx-dropzone-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let file of collectionFiles" [removable]="true" (removed)="onRemoveCollectionFile(file)">
              <ngx-dropzone-label
                >{{ file.name }} ({{ file.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
          </ngx-dropzone>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="primary" [disabled]="!collectionFilePath" class="ion-float-right" (click)="uploadCollection()">Upload</ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="loading">
        <ion-col>
          <h4>Upload Progress</h4>
          <ion-progress-bar type="indeterminate"></ion-progress-bar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
