<ion-content fullscreen>
  <ion-card-content class="ion-no-padding" *ngIf="matchFound && !!imageSearch">
    <ion-row class="ion-text-center ion-padding">
      <ion-col size="12">
        <img class="app-logo" src="assets/chameleon-logo.png" (click)="presentLogoPopover($event)" />
      </ion-col>
    </ion-row>
    <ion-card class="ion-text-center ion-padding result-card">
      <ion-row>
        <ion-col size="12">
          <img src="assets/success.svg" />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-label>
            <h2 class="heading-1">Authentic Product</h2>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-label>
            <h2 class="body-text-bold">The scanned product is original.</h2>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card class="ion-text-center ion-padding">
      <ion-row class="ion-padding-top">
        <ion-col size="12">
         <img class="success-image" [src]="tenantLogoUrl" />
         <!-- <img class="success-image" src="assets/product.png" /> -->
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-vertical">
        <ion-col size="12">
          <ion-label>
            <h2 class="body-text-bold">{{ tenantSuccessText }}</h2>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" *ngIf="!!hasCertificate" (click)="presentCertificatePopover($event)">
          <ion-button expand="block" color="primary" shape="round">ABOUT THIS PRODUCT <ion-icon class="ion-justify-content-end" name="arrow-forward-outline" slot="end"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" *ngIf="!!hasPromotionalVideo" (click)="presentPromotionalVideoPopover($event)">
          <ion-button expand="block" color="secondary" shape="round">PROMOTIONAL VIDEO <ion-icon class="ion-float-right" name="arrow-forward-outline" slot="end"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-card-content>

  <ion-card-content class="ion-no-padding" *ngIf="!matchFound && !!imageSearch">
    <ion-row class="ion-text-center ion-padding">
      <ion-col size="12">
        <img class="app-logo" src="assets/chameleon-logo.png" (click)="presentLogoPopover($event)" />
      </ion-col>
    </ion-row>
    <ion-card class="ion-text-center ion-padding result-card">
      <ion-row>
        <ion-col size="12">
          <img src="assets/failed.svg" />
        </ion-col>
      </ion-row>            
      <ion-row>
        <ion-col size="12">
          <ion-label>
            <h2 class="heading-1 no-match-text">This product may not be authentic!</h2>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card class="ion-text-center ion-padding">
      <ion-row>
        <ion-col size="12">
          <ion-label>
            <h2 class="body-text-black">Select to scan another product or go to Chameleon website for more information on verfication process.</h2>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" (click)="back()">
          <ion-button expand="block" color="primary" shape="round">SCAN NEW PRODUCT <ion-icon class="ion-justify-content-end" name="arrow-forward-outline" slot="end"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" (click)="goToWebsite()">
          <ion-button expand="block" color="secondary" shape="round">VIEW CHAMELEON WEBSITE <ion-icon class="ion-float-right" name="arrow-forward-outline" slot="end"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-card-content>
</ion-content>