ion-card .match-overlay,
.nomatch-overlay {
  opacity: 1 !important;
}

.match-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  background-image: url('../../../../assets/match.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
}

.nomatch-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  background-image: url('../../../../assets/no-match.png');
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
}

// .search-image{
//   max-width: 50%;
//   margin: 0 auto;
// }

.nomatch {
  max-width: 50%;
  margin: 0 auto;
}

.match {
  max-width: 30%;
  margin: 0 auto;
}

.search-image {
  border: 4px solid var(--ion-color-success);
  border-radius: 10px;
  max-width: 30%;
  margin: 0 auto;
}

.nomatch {
  border: 4px solid var(--ion-color-danger);
  border-radius: 10px;
}

.no-match-text{
  color: var(--ion-color-danger);
}

.search-image img,
.match img,
.nomatch img {
  width: 100% !important;
}

img.action-icon {
  width: 66px;
  border: 2px solid var(--ion-color-primary);
  border-radius: 10px;
  padding: 4px;
}

.logo-container {

  img {
    max-width: 30vw;
    margin: 0 auto
  }
}

.product-container {

  img {
    max-width: 50vw
  }
}

.app-logo{
  width: 200px;
}

.result-card {
  background-image: url(/assets/splat_background.png);

  .heading-1, .body-text-bold {
    color: white
  }
}

@media (min-width: 540px) {
  .search-image,
  .match,
  .nomatch {
    max-width: 30%;
  }
}

@media (min-width: 720px) {
  .search-image,
  .match,
  .nomatch {
    max-width: 30%;
  }
}

ion-card-content {
  background: #e8f0ff;
  height: 100%;
  overflow: scroll;
}

ion-card {
  margin-top: 0;
}

img.success-image {
  width: 50%;
}

ion-icon{
  position: absolute;
  right: 0;
}